<div id="<%= dom_id shipping %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= shipping.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Value:</strong>
    <%= shipping.value %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= shipping.status %>
  </p>

</div>
