<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing shipping</h1>

  <%= render "form", shipping: @shipping %>

  <%= link_to "Show this shipping", @shipping, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to shippings", shippings_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
