<div id="<%= dom_id category %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= category.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rstatus:</strong>
    <%= category.rstatus %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rentable:</strong>
    <%= category.rentable %>
  </p>

</div>
